$color-hover: #626BE7;
$home-tabs-border-width: .75rem !default;
$form-control-background-color: #F0F0F5;
$color-text: #272729;
$color-sidebar-bg: $color-text;
$color-sidebar-active: #6B76FF;
$color-badge-verified: #36B870;
$color-btn: #6B76FF;
$color-btn-disabled: #DDDEFF;
$color-btn-active: #6B76FF;
$color-text-warning-normal: #3ACD7A;
$color-text-warning-active: #FF695C;
$color-base-timer: #3DCC79;
$color-check: #48A83A;