@import 'variable';

html {
    font-size: 18px;
}

.navbar {
    display: none;
}

.presell-container {
    padding-top: 2rem;
    color: black;
    box-shadow: none;
    .row {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

header.masthead h1 {
    font-family: 'Proxima Extra Bold';
    font-size: 36px;
    color: #F9464B;  
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h2 {
    font-family: 'Proxima Nova Bold';
    font-size: 32px;
    color: #F9464B;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

header.masthead p {
    font-size: 1rem;
}

.btn-primary.offer-badge {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.proxima-nova-bold {
    font-family: 'Proxima Nova Bold';
}

.presell-container {
    .more-text {
        display: none;
    }
    .btn-readmore {
        display: block;
        cursor: pointer;
        font-family: 'Proxima Nova Bold';
        margin-right: auto;
        width: 145px;
        text-align: center;
        border: solid 2px #1F4092;
        border-radius: 17px;
        color: #1F4092;
        padding-top: .2rem;
        padding-bottom: .2rem;
        margin-top: 1rem;
    }
    hr {
        max-width: 100%;
        width: 100%;
        border-color: #BBC5DE;
        border-width: 4px;
    }
    .study-item span.link {
        display: block;
        word-break: break-all;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    a.link-free-quiz {
        color: #1C3F97;
        text-decoration: underline;
    }
}

@media (max-width: 575.98px) {
    .navbar-brand {
        left: 1.5rem;
    }
    header.masthead h1 {
        font-size: 8vw;
    }
    h2 {
        font-size: 5.9vw;
        text-align: center;
    }
    .presell-container .row {
        padding-left: 0;
        padding-right: 0;
    }

    .presell-container .col-12 {
        padding-right: 32px;
        padding-left: 32px;
    }
}
.presale-mp-1 {
    width: 75%;
    max-width: 430px;
}
@media (min-width: 1550px) {
    .presale-mp-1 {
        position: absolute;
        top: 9rem;
        right: -18rem;
        width: 16rem;
    }
}