$base_url : "http://localhost/simpleketosystem_internal";
/*$base_url : "https://simpleketosystem.com/internal";*/
$font_url : $base_url + '/assets/fonts/';

$keycdn_url : "https://d1a48q48yzujx1.cloudfront.net";
$keycdn_img_url : $keycdn_url + "/assets/img/";